
<% if @locations.blank? %>
<h4 class = "white">We couldn't find anything containing the term "<%= params[:search] %>".</h4>
<% end %>
<table>
  <thead>
    <tr>
      <th>Menu name</th>
      <th>Menu discription</th>
      <th>Cuisine</th>
      <th>Price</th>
      <th>Location</th>
      <th colspan="3"></th>
      <form class="navbar-form navbar-left" role="search">
      <%= form_tag(menus_path, :method => "get", id: "search-form") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Find a place to eat..", class: "form-control landing_srch" %>
        <%= submit_tag "Search", class: "btn btn-primary", :name => nil %>
      <% end %>
    </form>
    </tr>
  </thead>

  <tbody>
    <% @menus.each do |menu| %>
      <tr>
        <td><%= menu.menu_name %></td>
        <td><%= menu.menu_discription %></td>
        <td><%= menu.cuisine %></td>
        <td><%= menu.price %></td>
        <!-- <td><%= menu.location_id%></td> -->
        <td><%= link_to 'Show', menu %></td>
        <td><%= link_to 'Edit', edit_menu_path(menu) %></td>
        <td><%= link_to 'Destroy', menu, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Menu', new_menu_path %>
