
  <%= image_tag("landing_bg.jpg", class: "img-responsive landing_bg") %>

<div class = "landing_bg">
  <div class = "landing_srch">
    <h1> Foodle </h1>
    <h2> Eating together is fun! </h2>
    <%= link_to 'Find a restaurant', locations_path(@index), class:"btn btn-success" %>
    <%= link_to 'Find a menu', menus_path(@index), class:"btn btn-warning" %>

<!-- <form class="navbar-form navbar-left" role="search">
  <%= form_tag(locations_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Find a place to eat..", class: "form-control landing_srch " %>
    <%= submit_tag "Search", class: "btn btn-default", :name => nil %> -->
  <!-- <% end %> -->
</div>
</div>


<div>

</div>
