
<!-- <div class="location_page" style="background-image: url(/assets/locshowbg.jpg);"> -->

<%= image_tag("landing_bg.jpg", class: "img-responsive landing_bg") %>



<div class = "landing_bg">

<!-- If the search doesn't give any results -->




    <form class="navbar-form navbar-left" role="search">
      <%= form_tag(locations_path, :method => "get", id: "search-form") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Find a place to eat..", class: "form-control landing_srch forward" %>
      <%= submit_tag "Search", class: "btn btn-primary", :name => nil %>
      <% end %>
    </form>

</div>
<% if @locations.blank? %>
<br><br><br>
<h4 class = "white">We couldn't find anything containing the term "<%= params[:search] %>".</h4>
<% end %>
</div>

<div class = "search-divider container_bg_color">

  <!-- <div class="search-container"> -->
  <div class = "container">
    <div class = "search-results">
      <% @locations.each do |location| %>
      <div class="col-sm-4">
        <div class="thumbnail">
          <div class="caption">
            <%= image_tag(location.restaurant_pic.thumbnail.url, :class => "thumbnail inline") %>
            <h3><%= location.restaurant_name %></h3>
            <p><%= location.city%>, <%= location.seats%> seats </p>
            <p><%= link_to 'More Info', location, class:"btn btn-primary" %>  &nbsp<a href="#" class="btn btn-success" role="button">Reserve</a></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>

</div>
<!-- <%= link_to 'New Location', new_location_path %> -->
