<p id="notice"><%= notice %></p>

<h1>Listing Locations</h1>


<div class="row">
  <div class="col-xs-6 col-md-3">
    <a href="" class="thumbnail">
      <img src="http://cdn.bizar.nl/wp-content/uploads/2016/02/restaurant-939435_960_720.jpg" >
    </a>
  </div>
  ...
</div>

<div class="row">
  <div class="col-xs-6 col-md-3">
    <a href="" class="thumbnail">
      <img src="http://cdn.bizar.nl/wp-content/uploads/2016/02/restaurant-939435_960_720.jpg" >
    </a>
  </div>
  ...
</div>

<div class="row">
  <div class="col-xs-6 col-md-3">
    <a href="" class="thumbnail">
      test text
      <img src="http://cdn.bizar.nl/wp-content/uploads/2016/02/restaurant-939435_960_720.jpg" >
    </a>
  </div>
</div>

<!-- If the search doesn't give any results -->
<% if @locations.blank? %>
  <h4>We couldn't find anything containing the term "<%= params[:search] %>".</h4>
<% end %>

<table>
  <thead>
    <tr>
      <th>Restaurant name</th>
      <th>Description</th>
      <th>Seats</th>
      <th>Email</th>
      <th>Phone</th>
      <th> City </th>
      <th> Address </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @locations.each do |location| %>
      <tr>
        <td><%= location.restaurant_name %></td>
        <td><%= location.description %></td>
        <td><%= location.seats %></td>
        <td><%= location.email %></td>
        <td><%= location.phone %></td>
        <td><%= location.city %></td>
        <td><%= location.address %></td>
        <td><%= link_to 'Show', location %></td>
        <td><%= link_to 'Edit', edit_location_path(location) %></td>
        <td><%= link_to 'Destroy', location, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Location', new_location_path %>
