<p id="notice"><%= notice %></p>

<h1>Listing Locations</h1>






<div class="row">
    <% @locations.each do |location| %>

      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="..." alt="...">
          <div class="caption">
            <h3><%= location.restaurant_name %></h3>
            <p><%= location.city%>, <%= location.seats%> seats </p>
            <p><%= link_to 'Show', location, class:"btn btn-default" %><a href="#" class="btn btn-default" role="button">reserve</a></p>
          </div>
        </div>
      </div>
    



    <% end %>
  </div>



<%= link_to 'New Location', new_location_path %>
