<p id="notice"><%= notice %></p>

<h1>Find a good place to eat</h1>

<%= image_tag("landing_bg.jpg", class: "img-responsive landing_bg") %>

<div class = "landing_bg">
<div class = "landing_srch">
<form class="navbar-form navbar-left" role="search">
<%= form_tag(locations_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Find a place to eat..", class: "form-control landing_srch " %>
  <%= submit_tag "Search", class: "btn btn-default", :name => nil %>
<% end %>
</div>
</div>
<!-- If the search doesn't give any results -->
<% if @locations.blank? %>
  <h4>We couldn't find anything containing the term "<%= params[:search] %>".</h4>
<% end %>


<div class = "location_src">
<table>
  <thead>
    <tr>
      <th>Restaurant name</th>
      <th>Description</th>
      <th>Seats</th>
      <th>Email</th>
      <th>Phone</th>
      <th> City </th>
      <th> Address </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @locations.each do |location| %>

      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="..." alt="...">
          <div class="caption">
            <h3><%= location.restaurant_name %></h3>
            <p><%= location.city%>, <%= location.seats%> seats </p>
            <p><%= link_to 'Show', location, class:"btn btn-default" %><a href="#" class="btn btn-default" role="button">reserve</a></p>
          </div>
        </div>
      </div>



    <% end %>
  </div>
</div>



<%= link_to 'New Location', new_location_path %>
