<p id="notice"><%= notice %></p>
<!-- <div class="location_page" style="background-image: url(/assets/locshowbg.jpg);"> -->
    <%= image_tag("landing_bg.jpg", class: "img-responsive landing_bg") %>

<table>
  <div class="row">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="..." alt="...">
        <div class="caption">
          <p>
            <h3> <%= @location.restaurant_name %></h3>
          </p>
          <hr>
          <p>
            <strong>Seats:</strong>
            <%= @location.seats %>
          </p>
        <strong>Contact information:</strong>
          <p>
            <strong>Email:</strong>
            <%= @location.email %>
          <br>  <strong>Phone:</strong>
            <%= @location.phone %>
          </p>


          <p>
            <strong>Description:</strong>
            <%= @location.description %>
          </p>
<div class="col-sm-4">
</div>
          </div>
        </div>
      </div>
  </div>

</table>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
